

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar class="example-toolbar">
    <div class="titulo-app">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name d-flex align-items-center"><span class="material-icons mr-1">contacts</span>&nbsp;Prospectos App</h1>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list class="text-center">

        <div>
          <a mat-list-item (click)="snav.toggle()" [routerLink]="['/captura']" [routerLinkActive]="['active']"><span class="material-icons mr-1">assignment_ind</span>&nbsp;Captura</a>
          <a mat-list-item (click)="snav.toggle()" [routerLink]="['/evaluacion']" [routerLinkActive]="['active']"><span class="material-icons mr-1">edit_note</span>&nbsp;Evaluación</a>
          <a mat-list-item (click)="snav.toggle()" [routerLink]="['/listado']" [routerLinkActive]="['active']"><span class="material-icons mr-1">receipt_long</span>&nbsp;Listado</a>
        </div>
       
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      
      <router-outlet> </router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>